.cabecalho {
    width: 100%;
    height: 70px;
    background-color: black;
    border-bottom: 3px solid orangered;
}
* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho h1 { 
    color: white;
    margin-left: 120px;
    padding-top: 15px;
}
h1 span {
    color: orangered;
}
.style_button {
    
    float:right;
    margin-right: 50px;
    margin-top: -40px;
}
.botao {
    background-color: transparent;
    color: white;
}
.home {
    color: orangered;
    margin-right: 15px;
}
.sobre {
    margin-right: 15px;
}
.contato {
    margin-right: 15px;
}
.login {
    margin-right: 15px;
}
.retangulo_dois {
    width: 100%;
    height: 85px;
    background-color: black;
}
.botao_enviar {
    background-color: orangered;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    margin-top: 30px;
    float:right;
    margin-right: 150px;
}
.email {
    height: 30px;
    width: 225px;
    margin-top: 30px;
}
.apresentacao{
    background-size: cover;
    background-image: url("./imagens/team.png");
    background-repeat: no-repeat;
    min-height: 400px;
}
.container {
    font-size: 30px;
    margin: 0;
    padding-top: 120px;
}
.container h1 {
    color: orangered;
    text-align: center;
}
.container p {
    color: white;
    padding-top: 40px;
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}
.retangulo_dois h3 {
    color: white;
    margin: 0px;
    width: 50%;
    padding-top: 30px;
    float: left;
    margin-left: 100px;
    font-size: 30px;
}
.container_but {
    float: right;
}

.objetivos {
    width: 100%;
    text-emphasis: center;
    text-align: center;
    
}

.missao {
    float: left;
  /*  margin-right: 300px; */
    margin-left: 250px;
    margin-left: 150px; 
    width: 25%;
}

.img_objetivos{
    height: 110px;
}

.img_objetivos2{
    height: 110px;
    margin-top: -160px;
}

a{
    text-decoration: none;
    
}